.shop-content {
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ececec;

    .product-item {
      margin-bottom: 40px;
    }
  }

  &__filter {
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
    line-height: 0;
  }

  &__filter-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    outline: transparent;

    &.shop-content__filter-btn--active {
      path {
        fill: $accent;
      }
    }
  }

  .jq-selectbox__dropdown ul {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    border: 1px solid;
  }

  .jq-selectbox__select {
    height: 32px;
    padding: 0 30px 0 30px;
    border: none;
    background: transparent;
    box-shadow: none;
    @extend %quicksand-500;
    color: $default;
    text-shadow: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: transparent;
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url(../images/icons/angle-down.svg);
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: none;
  }

  .jq-selectbox li {
    padding: 5px;
    color: $title;

    &:hover {
      color: #fff;
    }
  }

  .jq-selectbox li:hover {
    background-color: $accent;
  }

  .jq-selectbox li.selected {
    background-color: #fff;
    color: #231f20;

    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }

  .jq-selectbox__dropdown {
    width: auto;
    left: 50px;
  }
}
