<!DOCTYPE html>
<html lang="eu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="css/product.min.css" />
  </head>
  <body>
    {% include 'app/module/_header/_header.html' %}
    <main class="main">
      {% include 'app/module/_top/_top.html' %} {% include
      'app/module/_product-page/_product-page.html' %}
      <section class="related">
        <div class="container">
          <h3 class="related__title">RELATED PRODUCTS</h3>
          <div class="related__items">
            {% include 'app/module/_product-item-3/_product-item-3.html' %} 
            {% include 'app/module/_product-item-4-sale/_product-item-4-sale.html' %} 
            {% include 'app/module/_product-item-5/_product-item-5.html' %}
            {% include 'app/module/_product-item-6-sale/_product-item-6-sale.html' %}
          </div>
        </div>
      </section>
    </main>
    {% include 'app/module/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>
</html>